.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 300vh;
  background-color: #050505;
  padding-left: 6rem;
}
body {
  margin: 0;
}
h2,a{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #fff;
  font-family: 'Inter', sans-serif;
  position: relative;
  top: 5rem;
  left: 40rem;
  width: 15rem;
  height: 4rem;
}
.box {
  padding: 2rem;
  border-radius: 2rem;
  background-color: #0f0f0f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 150%;
  max-width: 900px;
  border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(to bottom right, #5f26ff, #332936) 1;
}

.title {
  font-size: 2.3rem;
  margin-bottom: 1rem;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.text {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #5f26ff, #9f49ba);
}

.logo {
  position: absolute;
  top: 2rem;
  left: 1rem;
  width: 12rem;
  height: 3rem;
  object-fit: cover;
}

.help {
  font-size: 0.8rem;
  margin-top: 0;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  color: #9ca3af;
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  line-height: 1;
  margin: 1rem 0;
}

fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  color: #9ca3af;
  border: none;
}

.value {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

label {
  font-weight: normal;
  margin-bottom: 1rem;
}

/* Hide default styles */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 10px; 
  background: #ddd;
}

/* Hide default styles */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: transparent;
}

/* Custom track */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #7d7d7d;
  border-radius: 20px;
}

/* Custom thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  margin-top: -7px;
}

/* Thumb on hover */
input[type="range"]::-webkit-slider-thumb:hover {
  background: #5f26ff;
}

/* Thumb on active */
input[type="range"]::-webkit-slider-thumb:active {
  background: #5f26ff;
}

/* Inactive thumb */
input[type="range"]:disabled::-webkit-slider-thumb {
  background: #b5b5b5;
}

button {
  background-color: #5f26ff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  height: 3rem;
  font-size: larger;
  font-family: 'Inter', sans-serif;
}
.button:hover{
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.3 ease-in;
}
.answer {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.hide {
  display: none;
}

.text-center {
  text-align: center;
}
p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 1rem 0;
  color: #fff;
  font-family: 'Inter', sans-serif;
}